<form #f="ngForm" (ngSubmit)="submit(f)"> <!-- Automatically applies ngForm directive to a form element-->
    <!-- ngModelGroup contains a sub-group data but it doesn't contain output variables as ngForm or ngModel-->
    <div 
        ngModelGroup="contact" 
        #contact="ngModelGroup" 
        (change)="log(contact)"> 
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input 
                required minlength="3" 
                maxlength="20" 
                ngModel 
                name="firstName" 
                id="firstName" 
                type="text" 
                class="form-control" 
                #firstName="ngModel" 
                (change)="log(firstName)" />
            <div 
                class="alert alert-danger" 
                *ngIf="firstName.touched && !firstName.valid">
                <div *ngIf="firstName.errors.required">
                    First Name is required
                </div>
                <div *ngIf="firstName.errors.minlength">
                    Min length should be {{firstName.errors.minlength.requiredLength}} characters
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="comment">Comment</label>
        <textarea 
            ngModel 
            name="comment" 
            id="comment" 
            cols="30" 
            rows="10" 
            class="form-control" 
            #comment="ngModel" 
            (change)="log(comment)">
        </textarea>
    </div>
    <div class="checkbox">
        <label>
            <input 
                ngModel 
                type="checkbox" 
                name="isSubscribed" />
            Subscribe to mailing list
        </label>
    </div>
    <div class="form-group">
        <label for="">
            Contact Method (Multiselect)
        </label>
        <select 
            multiple 
            ngModel 
            name="contactMethodRadio" 
            id="contactMethod" 
            class="form-control">
            <option></option>
            <option 
                *ngFor="let method of contactMethods" 
                [ngValue]="method">
                {{method.name}}
            </option>
        </select>
    </div>
    <div class="radio">
        Contact Method (Radio Button)
        <label *ngFor="let method of contactMethods">
            <input 
                ngModel type="radio" 
                name="contactMethodRadio" 
                [value]="method.id" />
            {{method.name}}
        </label>
    </div>
    <p>
        {{ f.value | json }}
    </p>
    <button 
        class="btn btn-primary" 
        [disabled]="!f.valid">
        Submit
    </button> <!-- disable submit button if validation is incorrect -->
</form>