<!-- Angular Basics, Components, Services, Directives, Pipes -->
<!--<h1>Angular</h1>
<courses></courses>
<app-dynamictemplate></app-dynamictemplate>
<app-directives></app-directives>
<app-dependencyinjection></app-dependencyinjection>
<app-propertybinding></app-propertybinding>
<app-pipes></app-pipes>
<app-reusable [isFavourite]="post.isFavourite" [isLoved]="post.isLoved" (change)="onFavouriteChange($event)"></app-reusable>
<app-bootstrap-panel>
<div class="heading">Heading</div>
<ng-container class="body">
    <h2>Body</h2>
    <p>some content ...</p>
</ng-container> -->

<!-- Template driven forms -->
<!-- <app-tempate-form></app-tempate-form> -->

<!-- Reactive Forms -->
<!-- <reactive-form></reactive-form> -->

<!-- Delaing with http services -->
<!-- <app-http-component></app-http-component> -->
<!-- <app-followers></app-followers> -->

<!-- Routing & Navigation-->
<app-navbar></app-navbar>
<router-outlet></router-outlet>

<!-- AG Grid-->
<!-- <app-grid></app-grid> -->